$primary-color: #1318c8;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #d3d3d3;
}

#app {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  margin: 10px 0;
}

h3 {
  color: $primary-color;
}

.sectors-form {
  width: 50%;
  background: #efefef;
  padding: 2rem 2rem 1rem;
  margin-left: auto;
  margin-right: auto;
}

.text-field {
  height: 36px;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

.invalid-feedback {
  color: red;
  font-size: 0.8rem;
}

.submit-button {
  font-size: 1em;
  margin: 15px 0;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  color: #fff;
  background: $primary-color;
}
