<template>
  <div>
    <form @submit.prevent="submit" novalidate class="sectors-form">
      <h3>Please enter your name and pick the Sectors you are currently involved in.</h3>
      <div class="form-group">
        <label>Name: </label>
        <input type="text" class="form-control text-field" id="name" v-model.lazy.trim="form.name" @blur="onFieldBlur('name')">
        <div v-if="isErrorField('name')" class="invalid-feedback">Field required, maximum length 100 symbols</div>
      </div>
      <div class="form-group">
        <label>Sectors: </label>

        <treeselect
          v-model="value"
          :multiple="true"
          :loading="true"
          :auto-load-root-options="false"
          :default-expand-level="3"
          :flat="true"
          :autoSelectDescendants="false"
          :autoSelectAncestors="false"
          :options=sectorsFormOptions
          :load-options="getSectorsData"
          class="form-control treeselect"
          id="sectors"
          v-model.lazy.trim="form.sectors"
          @blur="onFieldBlur('sectors')"
        />

        <div v-if="isErrorField('sectors')" class="invalid-feedback">Field required, maximum 5 sectors</div>
      </div>
      <div class="form-group">
        <input type="checkbox" class="form-check-input" id="terms" v-model.lazy.trim="form.terms" @change="onFieldBlur('terms')">
        <label class="form-check-label" for="terms">Agree to terms</label>
        <div v-if="isErrorField('terms')" class="invalid-feedback">Required to agree</div>
      </div>
      <div class="alert alert-danger" v-if="isSubmitError">
        <p class="mb-0">
          <strong>Something went wrong</strong>
        </p>
      </div>
      <div class="alert alert-success" v-if="isSubmitted">
        <p class="mb-0">
          <strong>Data submitted</strong>
        </p>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary submit-button" :disabled="submitting">
          <span v-if="submitting">Submitting<img src="../../assets/loader.svg" /></span>
          <span v-else>Save</span>
        </button>
      </div>
    </form>
  </div>
</template>

<script src="./form.js"></script>
