<template>
  <div id="app" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-6">
        <app-form></app-form>
      </div>
    </div>
  </div>
</template>

<script>
  import Form from './components/form/Form.vue';
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'

  export default {
    name: 'app',
    data () {
      return {
      }
    },
    components: {
      appForm: Form
    }
  }
</script>

<style src="./assets/style.scss" lang="scss"></style>

